
  .main-div{
    height: 100%;
    width: fit-content;
    padding-top: 100px;
    //display: flex;
    justify-content: center;
    align-items: center;

  }
    .mat-form-field {
        width: 100%;
        min-width: 300px;
        }
        
        mat-card-title,
        mat-card-content {
        display: flex;
        justify-content: center;
        }
        
        .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
        }
        
        .button {
        //display: flex;
        //justify-content: flex-end;
        width: 100%;
        min-width: 300px;
        }

        .mat-progress-bar{
          width: 109% !important;
        }