.container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 380px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  .mat-dialog-content {
overflow: hidden !important;
height: 330px;
max-height: 45vh;
  }
  
  .mat-dialog-actions {
    padding: 20px 0;
  }
  